{% extends "base.html" %}
{% block navbar %}

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="">Bartit</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <form class="form-inline">
            <input name="search" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-outline-success" onclick="/post">Create Post</button>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-outline-success" onclick="/logout">Logout</button>
        </li>
      </ul>
    </div>
  </nav>

{% endblock %}
