{% extends "base.html" %}
{% block content %}
    <div class="container">
      <h1>REGISTER</h1>
      <form class="" action="/register" method="post">
          <label>Username:</label>
          <input type="text" name="username" value=""><br><br>
          <label>Email:</label>
          <input type="email" name="email" value=""><br><br>
          <label >Password:</label>
          <input type="password" name="password" value=""><br><br>
          <input type="submit" name="">
      </form>
    </div>
{% endblock %}